@import "categories";

.catalog-categories{
    margin-top: 60px;
    margin-bottom: 40px;

    @include media-tablet{
        .categories-item__link{
            grid-template-columns: 1fr;
            grid-template-rows: auto 90px;
        }

        .categories-item__text{
            grid-column: 1/2;
            padding-left: 20px;
        }

        .categories-item__img-block{
            max-height: 138px;
        }

        .categories-item__img{
            max-height: 138px;
            max-width: 100%;
        }
    }

    @include media-desktop{

        .categories-item__img-block{
            max-height: 168px;
        }
    }

    &__block{
        grid-column: 1/-1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include media-desktop{
            justify-content: flex-start;
        }
    }

    &__item{
        width: 300px;
        height: 100px;
        margin-bottom: 20px;

        @include media-tablet{
            width: 190px;
            height: 255px;
        }

        @include media-desktop{
            width: 260px;
            height: 291px;
            margin-right: 40px;

            &:nth-child(4n){
                margin-right: 0;
            }
        }
    }

    &__count{
        color: $red;
        margin-top: 15px;

        @include media-desktop{
            margin-top: 0;
        }
    }

    .header-top-block{
        margin-bottom: 25px;
    }

    .categories-item__text{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @include media-desktop{
            flex-direction: row;
        }
    }


}