.footer{
    background-color: $dark;
    padding-top: 60px;
    padding-bottom: 60px;
    color: $white;

    & .container{

        @media (min-width: $sizeTablet){
            align-items: start;
            grid-template-rows: repeat(6, auto);
        }

        @media screen and (min-width: $sizeDesktop){
            align-items: baseline;
            grid-template-rows: repeat(3, auto);
        }
    }

    &__logo{
        grid-column: span 4;

        & a{
            color: $white;
        }

        @media (min-width: $sizeTablet){
            grid-row: 1/2;
            grid-column: 1/5;
            margin-bottom: 40px;
        }

        @media screen and (min-width: $sizeDesktop){
            grid-column: 1/4;
            grid-row: 1/2;
        }
    }

    &__copyright-text{
        grid-column: span 4;
        grid-row: 2/3;
        margin-top: 30px;

        @media (min-width: $sizeTablet){
            margin-top: 0;
            margin-bottom: 60px;
        }

        @media screen and (min-width: $sizeDesktop){
            grid-row: 2/3;
            grid-column: 1/4;
            margin-bottom: 0;
        }
    }

    &__copyright{
        grid-column: span 4;
        grid-row: 3/4;
        margin-top: 25px;
        margin-bottom: 60px;

        @media (min-width: $sizeTablet){
            grid-row: 3/4;
            margin-top: 0;
            margin-bottom: 0;
            align-self: end;
        }

        @media screen and (min-width: $sizeDesktop){
            grid-column: 1/4;
            grid-row: 3/4;
            margin-bottom: 0;
            align-self: start;    
            margin-top: 8px;   
        }
    }  

    &__contacts-header{
        font-size: 14px;  
        display: none;  

        @media screen and (min-width: $sizeDesktop){
            display: block; 
            grid-row: 1/2;
            grid-column: 10/13;
            margin-bottom: 0;
        }
    }

    &__contact-block{
        grid-column: span 4;

        @media (min-width: $sizeTablet){
            grid-row: 2/3;
        }

        @media screen and (min-width: $sizeDesktop){
            grid-row: 2/3;
            grid-column: 10/13;
        }
    }

    &__contact{
        margin-bottom: 25px;

        @media (min-width: $sizeTablet){

        }

        @media screen and (min-width: $sizeDesktop){
            
        }
    }    

    &__socials{
        grid-column: 1/-1;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @media (min-width: $sizeTablet){
            grid-row: 3/4;
            grid-column: span 4;
            margin-bottom: 0;
        }

        @media screen and (min-width: $sizeDesktop){
            grid-column: 10/13;
            grid-row: 3/4;
        }

        & .icon{
            width: 20px;
            height: 20px;
            margin-right: 30px;

            &:hover{
                opacity: 0.63;
            }
        }
    }

    &__menu{
        grid-column: 1/-1;
        margin-top: 60px;

        @media (min-width: $sizeTablet){
            grid-column: span 4;
        }

        @media screen and (min-width: $sizeDesktop){
            grid-column: span 3;
        }
    }
}


.footer-contact{

    &__main{
        text-decoration: none;
        font-size: 18px;
        letter-spacing: 0.45px;
        color: $white;
        display: block;
    }

    &__desk{
        color: $red;
        font-size: 12px;
    }
}

.footer-menu{

    &__header{
        font-size: 14px;
        grid-column: span 4;
        margin-top: 60px;

        @media (min-width: $sizeTablet) {
            grid-row: 4/5;
            grid-column: span 4;
        }

        @media screen and (min-width: $sizeDesktop){
            grid-row: 1/2;
            grid-column: span 3;
            margin-top: 0;
        }
        
    }

    &__list{
        margin-top: 30px;
        list-style: none;
        padding-left: 0;
        position: relative;
        grid-column: span 4;

        @media (min-width: $sizeTablet) {
            grid-row: 5/6;
            grid-column: span 4;
        }

        @media screen and (min-width: $sizeDesktop){
            grid-row: 2/4;
            grid-column: span 3;
            margin-top: 0;
        }
    }

    &__item{
        padding-bottom: 15px;
    }

    &__link{
        text-decoration: none;
        color: $grey;

        &:hover{
            color: $white;
        }
    }
}