.icon-basket{
    width: 22px;
    height: 24px;
    display: block;
    &--top{
        width: 28px;
        height: 30px;
    }
}

.icon-search-button{
    width: 20px;
    height: 20px;
    display: block;
    & svg{
        fill: $red;
    }
    
}