@import "brands",
        "features";

.info{
    margin-top: 50px;

    &--nom{
        margin-top: 0;
    }
    
    &__features-block{

        grid-column: 1/-1;
        margin-bottom: 20px;
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat($colCountMobile, $colSize);
        column-gap: $gridGapMobile;

        @media (min-width: $sizeTablet){
            grid-template-columns: repeat($colCountTablet, $colSize);
            column-gap: $gridGapMobile;
        }

        @media screen and (min-width: $sizeDesktop){
            grid-column: 4/-1;
            grid-template-columns: repeat(9, $colSize);
            column-gap: $gridGap;

            .info__feature-item{
                grid-column: span 4;
            }
        }
    }

    &__brands{
        grid-column: 1/-1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 60px;
        margin-top: 30px;

        @media screen and (min-width: $sizeDesktop){
            grid-column: 4/-1;
        }

        .brands-item{
            margin-bottom: 20px;

            @media screen and (min-width: $sizeDesktop){
                width: 118px;
                height: 88px;
            }

            &__img-block{
                width: 95px;
                height: 36px;
            }
            
        }
    }

    h2{
        font-size: 20px;
        font-weight: bold;
        color: $dark;
        letter-spacing: 0.5px;
        grid-column: 1/-1;
        align-self: start;
        margin: 0;
        margin-bottom: 30px;

        @media (min-width: $sizeTablet){
            
        }

        @media screen and (min-width: $sizeDesktop){
            grid-column: 1/4;
        }
    }

    p{
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.35px;
        color: $grey;
        grid-column: 1/-1;
        margin: 0;
        margin-bottom: 20px;

        @media screen and (min-width: $sizeDesktop){
            grid-column: 4/-1;
        }
    }
}

.payments{

    display: flex;
    flex-wrap: wrap;
    grid-column: span 4;

    @include media-tablet{
        grid-column: span 8;
    }

    @include media-desktop{        
        grid-column: 4/-1;
        margin-top: 40px;
        margin-bottom: 60px;
    }

    &__item{
        background-color: $not-white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 140px;
        height: 80px;
        padding: 20px 30px;
        margin-right: 20px;
        margin-bottom: 20px;

        &:nth-child(2n){
            margin-right: 0;
        }

        @include media-tablet{

            &:nth-child(2n){
                margin-right: 20px;
            }
            
            &:nth-child(4n){
                margin-right: 0;
            }
        }

        @include media-desktop{
            width: 118px;
            height: 88px;
            margin-right: 30px;
            padding: 25px 20px;
            display: flex;
            justify-content: center;

            &:nth-child(2n), &:nth-child(4n){
                margin-right: 30px;
            }

            &:nth-child(6n){
                margin-right: 0;
            }
        }

        
    }

    &__img{

        max-width: 100%;
        max-height: 100%;
    }
}

.contacts-contact{

    margin-bottom: 30px;
    grid-column: 1/-1; 
    align-self: start;

    @include media-tablet{
        grid-column: span 4;
    }

    @include media-desktop{

        &--phone{
            grid-column: 4/7;
        }

        &--email{
            grid-column: 7/10;
        }

        &--address{
            grid-column: 10/13;
        }
    }

    &__title{
        color: $dark;
        margin-bottom: 25px;
    }

    &__link{
        color: $grey;
        text-decoration: none;
        margin-bottom: 10px;
        display: block;
    }

    &__text{
        line-height: 30px;
    }
}

.modal-btn{
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-self: start;

    @include media-tablet{
        grid-column: span 4;
    }

    @include media-desktop{
        grid-column: 4/13;
        flex-direction: row;
        align-items: center;
        margin-bottom: 90px;
        padding-top: 60px;
        margin-top: 30px;
        border-top: 1px solid $light-white;
    }

    &__have-question{
        background-color: $red;
        color: $white;
        text-align: center;
        padding: 15px;        
        margin-bottom: 15px;
        border-radius: 5px;
        border: 0;

        @include media-desktop{
            width: 260px;
            margin-bottom: 0;
            margin-right: 40px;
        }
    }

    &__under-btn{
        color: $charcoal-grey;
        font-size: 12px;
    }

}


.contacts-under-btn{
    color: $charcoal-grey;
    grid-column: 1/-1;
    font-size: 12px;

    @include media-tablet{
        grid-column: 5/-1;
    }
}