.slider-banner{
    grid-column: 1/-1;
    height: 112px;

    @media (min-width: $sizeTablet) {
        height: 210px;
    }

    @media screen and (min-width: $sizeDesktop) {
        height: 390px;
    }

    & .owl-stage-outer{
        border-radius: 5px;
    }

    & .owl-dots{
        position: absolute;
        bottom: 20px;
        left: 60px;
        text-align: left;
    }

    & img{
        max-height: 100%;
        max-width: 100%;
    }

    & .owl-nav{
        position: absolute;
        width: 80px;
        display: none;
        bottom: 10px;
        right: 60px;
        @media screen and (min-width: $sizeDesktop) {
            display: block;
        }

        & [class*=owl-]:hover{
            background: transparent;
        }

        & .owl-prev, .owl-next{
            height: 30px;
            width: 30px;
        }

        & .owl-prev{

            & img{
                transform: rotate(180deg);
            }
        }
    }

    & .owl-dots .owl-dot span{
        background: $white;
        opacity: .6;
        width: 6px;
        height: 6px;
    }

    & .owl-dots .owl-dot.active span{
        transform: scale(1.8);
        background: $white;
        opacity: 1;
    }

    & button{
        outline: none;
    }

}
