.slider-catalog{
    grid-column: 1/-1;

    & .owl-stage-outer{
        @media screen and (min-width: $sizeDesktop) {
            padding: 40px 0;
            padding-left: 40px;
            margin-left: -40px;
            padding-right: 40px;
            margin-right: -40px;
        }    
    }

    & .owl-stage{
        padding-left: 0 !important;
    }

    & .owl-item img{
        width: auto;
    }

    & .owl-nav{
        position: absolute;
        width: 80px;
        display: none;
        top: -31px;
        right: 0px;
        margin-top: 0;
        @media screen and (min-width: $sizeDesktop) {
            display: block;
        }

        & button{
            outline: none;
        }

        & [class*=owl-]:hover{
            background: transparent;
        }

        & .owl-prev, .owl-next{
            height: 30px;
            width: 30px;

            &:hover svg{
                fill: $red;
            }
        }

        & .owl-prev{

            & svg{
                transform: rotate(180deg);
            }
        }
    }
}