.slider-banner{
    grid-column: 1/-1;

    &.slick-dotted.slick-slider{
        margin-bottom: 0;
    }

    & img{
        max-width: 100%;
        border-radius: 5px;
    }

    & .slick-dots{
        bottom: 15px;
        left: 13px;
        text-align: left;

        & li{
            margin: 0 2px;
        }

        & li button:before{
            color:$white;
            font-size: 20px;
            opacity: 0.6;
        }

        & li.slick-active button:before{
            color:$white;
            font-size: 40px;
            opacity: 0.9;
        }
    }
}